<div class="form-input">
    <span>{{ data | json }}</span>
    <form #form="ngForm" autocomplete="off">
        <h1 class="text-center">DEMO</h1>
        <div class="input-group">
            <mat-form-field class="input-group" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput required #name="ngModel" [(ngModel)]="data.name" name="name">
                <mat-error *ngIf="name.touched && !name.valid">
                    <span *ngIf="name.errors.required">Fullname is required</span>


                </mat-error>
            </mat-form-field>

        </div>
        <div class="input-group">
            <mat-form-field class="input-group" appearance="outline">
                <mat-label>Price</mat-label>
                <input matInput type="number" required #price="ngModel" [(ngModel)]="data.price" name="price">

                <mat-error *ngIf="price.touched && !price.valid">
                    <span *ngIf="price.errors.required">Email is required</span>
                    <span *ngIf="price.errors.pattern">Không đúng định dạnh email</span>

                </mat-error>
            </mat-form-field>
        </div>
        <div class="input-group">
            <mat-form-field class="input-group" appearance="outline">
                <mat-label>Color</mat-label>
                <input matInput required #color="ngModel" [(ngModel)]="data.color" name="color">
                <mat-error *ngIf="color.touched && !color.valid">
                    <span *ngIf="color.errors.required">Email is required</span>
                    <span *ngIf="color.errors.pattern">Số điện thoại không hợp lệ</span>

                </mat-error>
            </mat-form-field>
        </div>



        <div class="text-center">
            <button mat-raised-button color="primary" (click)="sentData()">Submit</button>
        </div>
    </form>







</div>
<br>
<app-api></app-api>